<!DOCTYPE html>

<html>

<head>

    <title>Watch Video/Playlist</title>

</head>

<body>

    <h1>Watch Video/Playlist</h1>

    <iframe

        src="{{ embed_link }}"

        width="560"

        height="315"

        frameborder="0"

        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"

        allowfullscreen

        referrerpolicy="strict-origin-when-cross-origin"

        title="YouTube video player"

    ></iframe>

    <br/>

    <a href="/">Back to search</a>

</body>

</html>
